/* GLOBAL RESET */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: "Space Grotesk", sans-serif;
    background-color: #0a0a0a;
    color: #ffffff;
    line-height: 1.6;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #222222;
    position: sticky;
    top: 0;
    background-color: #0a0a0a;
    z-index: 100;
}

.nav-logo {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #a0a0a0;
    text-decoration: none;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav-links a:hover {
    color: #ffffff
}

/* HERO */

.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: 1px solid #222222;
    background-color: #0f0f0f;
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 6px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.hero-tagline {
    font-size: 1rem;
    color: #a0a0a0;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.hero-btn {
    display: inline-block;
    padding: 14px 40px;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-decoration: none;
    font-size: 0.85rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.hero-btn:hover {
    background-color: #ffffff;
    color: #0a0a0a;
}

/* PREVIEW GRID */

.preview-grid {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    background-color: #222222;
    border-top: 1px solid #222222;
    align-items: start;
}

.preview-card {
    background-color: #0a0a0a;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.preview-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.outfit-preview {
    object-fit: cover !important;
    object-position: 50% 15% !important; 
    height: 400px !important;
}

.preview-card h2 {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.preview-card p {
    color: #a0a0a0;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.preview-card a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-bottom: 1px solid #444444;
    padding-bottom: 4px;
    width: fit-content;
}

.preview-card a:hover {
    border-bottom-color: #ffffff;
}

/* FOOTER */

footer {
    border-top: 1px solid #222222;
    padding: 40px;
    text-align: center;
    margin-top: 0;
}

.footer-brand {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer-text {
    font-size: 0.8rem;
    color: #a0a0a0;
    letter-spacing: 1px;
}

/* PAGE HEADR */

.page-header {
    padding: 60px 40px 40px;
    border-bottom: 1px solid #222222;
   
}

.page-header h1 {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.page-header p {
    color: #a0a0a0;
    font-size: 0.9rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

/* GALLERY GRID */
/*.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    background-color: #222222;
    padding: 2px;
}

.gallery-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
    transition: opacity 0.3s ease;

}

.gallery-item img:hover {
    opacity: 0.7;
}*/

.gallery-grid {
    columns: 3;
    column-gap: 2px;
    padding: 2px;
    background-color: #222222;
}

.gallery-item {
    break-inside: avoid;
    margin-bottom: 2px;

}

.gallery-item img {
   width: 100%;
   height: auto;
   display: block;
   transition: opacity 0.3s ease;
}

.gallery-item img:hover {
    opacity: 0.7;
}

.art-name {
    padding: 10px 12px;
    font-size: 0.75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #a0a0a0;
    background-color: #0a0a0a;
    text-align: center;
}

/* SNEAKER GRID */

.sneaker-grid {
    columns: 3;
    column-gap: 2px;
    padding: 2px;
    background-color: #222222;
}

.sneaker-item {
    break-inside: avoid;
    margin-bottom: 2px;
}

.sneaker-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease;
}

.sneaker-item img:hover {
    opacity: 0.7;
}

.sneaker-name {
    padding: 10px 12px;
    font-size: 0.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #a0a0a0;
    background-color: #0a0a0a;
    text-align: center;
}

/* STYLE GRID */

.style-grid {
    columns: 3;
    column-gap: 3px;
    padding: 2px;
    background-color: #222222;
}

.style-item {
    break-inside: avoid;
    margin-bottom: 2px;
}

.style-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: opacity 0.3s ease;
}

.style-item img:hover {
    opacity: 0.7;
}

/* ABOUT */

.about-section {
    display: block;
    padding: 60px 0px;
    max-width: 100%;
    margin: 0;

}

.about-image {
    display: flex;
    gap: 30px;
    margin-bottom: 60px;
    overflow: hidden;
    width: 100%;
}

.about-image img {
    width: 33.33%;
    height: auto;
    object-fit: contain;
    max-width: 100%;
    
}

.about-text {
    padding: 0 40px;
    text-align: center;

}



.about-text h2 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about-origin {
    color: #a0a0a0;
    font-size: 0.95rem;
    line-height: 1.8;
    margin-bottom: 20px;
}

.about-text p {
    color: #a0a0a0;
    font-size: 0.9rem;
    line-height: 1.8;
    margin-bottom: 20px;
}

.about-text h3 {
    font-size: 0.85rem;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-top: 10px;
}

.about- list {
    display: inline-block;
    text-align: left;
    list-style: none;
    padding: 0;
}

.about-list li {
    color: #a0a0a0;
    font-size: 0.85rem;
    letter-spacing: 1px;
    list-style: none;
    text-transform: uppercase;
    padding: 12px 0;
    border-bottom: 1px solid #222222;
}